<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
</head>
<body>
    <section>
        <h1>This is the Edit Page!</h1>
        <section>
            <ul>
                <% itemList.forEach(item => { %>
                    <% if (item._id == idItem) { %>
                    <li>
                        <form action="/edit/update/<%= item._id%>" method="POST">
                            <label for="textinput">Input Text</label>
                            <input type="text" name = "textinput" value = "<%= item.textinput %>">
                            <label for="numinput">Input Number</label>
                            <input type="number" name = "numinput" value = "<%= item.numinput %>">
                            <button type="submit">Confirm</button>
                            <a href="/">Cancel</a>
                        </form>
                    </li>
                    <% } else { %>
                        <li>
                            <div><%= item.textinput %></div>
                            <div><%= item.numinput %></div>
                            <a href="">Edit</a>
                            <a href="">Remove</a>
                        </li>
                        <% } %>
                <% }) %>
            </ul>
        </section>
    </section>
</body>
</html>